<div class="about-container">
  <h1>O našem bioskopu 🎬</h1>

  <div class="about-content">
      <img src="https://i.ibb.co/chTxYF5s/046c8ddf-5739-49ec-b45d-49d6d0b45f24.png" alt="Bioskop" class="about-image">

      <div class="about-text">
          <h2>Dobrodošli u Klikni Film! </h2>
          <p>
              Klikni Film je mesto gde se ljubitelji filma okupljaju kako bi doživeli
              nezaboravne bioskopske trenutke. Sa najnovijom tehnologijom zvuka i slike,
              naš bioskop pruža najbolji doživljaj gledanja filmova.
          </p>

          <h3>🎞️ Naša misija</h3>
          <p>
              Naša misija je da obogatimo iskustvo gledanja filmova, pružajući vrhunske usluge,
              udobna sedišta i širok izbor filmova za sve generacije.
          </p>

          <h3><i class="fa-solid fa-calendar-days"></i> Istorija</h3>
          <p>
              Osnovani 2005. godine, od tada smo rasli i postali jedan od vodećih bioskopa u regionu.
              Naše sale su opremljene najsavremenijim tehnologijama kako bismo osigurali najbolje filmske projekcije.
          </p>

          <h3><i class="fa-solid fa-trophy"></i> Zašto odabrati nas?</h3>
          <ul>
              <li> Najbolja zvučna i vizuelna tehnologija <i class="fa-solid fa-headphones"></i></li>
              <li> Udobna sedišta i prijatan ambijent <i class="fa-solid fa-chair"></i></li>
              <li> Veliki izbor filmova - od holivudskih hitova do domaćih produkcija 🎬</li>
              <li> Posebne promocije i popusti za verne posetioce <i class="fa-solid fa-ticket"></i></li>
          </ul>

          <h3>📍 Gde nas možete pronaći?</h3>
          <p>
              <strong>Adresa:</strong> Nikole Pasica 28 , Niš <br>
              <strong>Telefon:</strong> 018/208 300   
          </p>
      </div>
  </div>
</div>
